{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilosregistro.css' %}">
    
    <link rel="stylesheet" href="{% static 'bootstrap' %}">
  
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <title>Registrate</title>
</head>
<body>

    <div class="Login">
        <!-- <form action="">
          <h1>Registro</h1>
          <div class="input-box">
            <input type="text" placeholder="Nombre de usuario" required>
            <i class='bx bx-user' style='color:#ffffff'></i>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Correo electronico" required>
            <i class='bx bx-user' style='color:#ffffff'></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Contraseña" required>
            <i class='bx bx-lock' style='color:#ffffff'></i>
          </div>
      
          <div class="remeber-forgot">
            <label><input type="checkbox">Recordarme</label>
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
      
          <button type="submit" class="btn">Registrarse</button>
      
          <div class="register-link">
            <p>¿Ya tienes cuenta?</p><a href="login.html">Iniciar sesión</a>
          </div>
        </form> -->

        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Signup</button>
        
        </form>

      </div>

</body>
</html>