{% extends "base.html" %}

{% block titulo %} inicio {% endblock %}

{% block contenido %} 

<div class="p-5 mb-4 bg-light">
    <div class="container">
      <h1 class="display-3">Bienvenido al CRUD de The Star</h1>
      <p class="lead">Empieza a CRUDear </p>
      <hr class="my-2">
      <a name="" id="" class="btn btn-primary" href="http://127.0.0.1:8000/pagina/index.html" role="button">Ir a la pagina </a>
      <p class="lead">
      </p>    
    </div>
  </div>

{% endblock %}

