{% extends "base.html" %}

{% block titulo %} Lista de productos {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'home:crear producto' %}" role="button">Agregar nuevo producto</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>

        <table class="table table-primary">
                <thead>
                    <tr>
                        <th> codigo </th>
                        <th> nombre </th>
                        <th> descripcion </th>
                        <th> precio </th>
                        <th> stock </th>
                        <th> colecciones </th>
                        <th> acciones </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in Productos %}
                    <tr>
                        <td>{{ p.codigo }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.descripcion }}</td>
                        <td>{{ p.precio }}</td>
                        <td>{{ p.stock }}</td>
                        <td>{{ p.colecciones.nombre }}</td>
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'home:actualizar producto' p.codigo %}" role="button">Actualizar</a> 
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'home:eliminar producto' p.codigo %}" role="button">Borrar</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>       
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}
