{% extends "base.html" %}

{% block titulo %} Lista de categorias {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'home:crear' %}" role="button">Agregar nueva categoria</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Categorias</h4>

        <table class="table table-primary">
                <thead>
                    <tr>
                        <th> codigo </th>
                        <th> nombre </th>
                        <th> acciones </th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.codigo }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'home:actualizar' categoria.codigo %}" role="button">Actualizar</a> 
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'home:eliminar' categoria.codigo %}" role="button">Borrar</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>       
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}
