@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
} 


body {
    font-family: 'Cinzel', serif;
 } 

.container {
    max-width: 1200px;
    margin: 0 auto;
 } 


.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}



.bienvenida {
    height: 500px;
    background-image: url('../imagenes/fondoIndex.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-thestar {
    font-size: 100px; 
    font-family: serif;
    padding: 10px;
    color: yellow; 
}

.texto-lamagia{
    color: white;
}



.btn-1 {
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #000000;
    background-color: #240b88;
    color: azure;
    font-size: 16px;
    font-weight: 000;
    transition: 0.7s;
    opacity: 0.8;
    border-radius:10px
 } 

.btn-1:hover {
    color: rgba(255, 255, 255, 0.863);
    background-color: rgba(0, 60, 255, 0.618)
 } 


/* Estilos para la sección Magic Glam */
.seccion-magicGlam {
    background-color: #000;
    background-size: cover;
    background-position: center top;
    height: 600px; /* Ajusta según sea necesario */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Estilos para el título blanco */
.titulo-magicGlam {
    max-width: 50%; /* Ajusta el porcentaje según sea necesario para aumentar o disminuir el tamaño máximo */
    width: 100%; /* Hace que la imagen ocupe el 100% del contenedor */
    margin-bottom: 10px;
}

/* Estilos para el contenedor de productos */
.productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Estilos para cada producto */
.productos div {
    text-align: center;
    color: white;
    width: 30%; 
    margin: 0 5px; 
}


.productos img {
    width: 100%;
    max-width: 200px; 
    margin-bottom: 10px;
}


.nombre-producto {
    font-size: 1.2em; 
    margin-bottom: 5px;
}


.precio {
    font-size: 1em; 
}


.nuestros-productos {
    background-color: #ffffff; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-horizontal {
    width: 100%;
    height: auto;
    display: block;
    
}

.seccion-resenas {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0; /* Ajusta el espaciado superior e inferior según sea necesario */
}

.titulo-resenas {
    font-family: serif;
    font-size: 48px; /* Ajusta el tamaño del texto según tu preferencia */
    margin-top: 0; /* Elimina el margen superior para evitar espacio adicional */
}

.imagenes-resenas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.imagenes-resenas .imagen p {
    margin-bottom: 20px; /* Ajusta el espacio entre párrafos según tu preferencia */
}
.imagen {
    text-align: center;
}

.imagen-circular {
    width: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
    object-fit: cover;
    border-radius: 50%; /* Aplica el recorte circular */
    margin-bottom: 10px; /* Añade un margen inferior entre la imagen y el párrafo */
}



/* Estilos para el título de la sección */
.titulo-seccion {
    text-align: center;
    margin-bottom: 20px; 
}

/* Estilos para el contenido de la sección */
.contenido-seccion {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    width: 100%;
    max-width: 1200px; 
}

/* Estilos para el texto de la sección */
.contenido-seccion p {
    max-width: 600px;
    font-size: 200%; 
}

/* Estilos para la imagen de Nuestros Productos */
.imagen-nuestros-productos {
    max-width: 100%; 
    height: 100%;
    padding-right: 0px;
    
}



.contacto{
  margin: 50px;
}








.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }


.footer-barra-negra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff; /* Texto blanco */
    padding: 20px;
}

.footer-izquierdo {
    text-align: left;
    margin-right: auto; /* Ajusta según sea necesario para dar más margen */
}

.footer-derecho {
    text-align: right;
    margin-left: auto; /* Ajusta según sea necesario para dar más margen */
}

.footer-centro {
    text-align: center;
    margin: 0 auto; /* Centra la imagen */
}

.footer-imagen{
    height: 100px;
}

/* Estilos para el botón */
button {
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto negro */
    padding: 10px 20px; /* Ajusta según sea necesario */
    border: none;
    cursor: pointer;
    margin-left: 20px; /* Ajusta según sea necesario para dar más margen */
}