body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}




/* Estilos del logo */
.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}


main {
    /* Ajustar márgenes para el contenido principal */
    padding: 20px;
}

/* Estilos para la sección de cuenta */
.cuenta-info {
    margin: auto;
    width: 80%;
}

.usuario-info,
.pedidos {
    margin-bottom: 30px;
}

.usuario-info h3,
.pedidos h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.pedido {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.footer-barra-negra {
    display: flex;
    justify-content: center;
}

.footer-barra-negra img {
    max-width: 150px; 
    height: auto; 
    margin: 10px; 
}

.imagen-footer {
  height: 20px;
}